#root {
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#root button {
  background-color: initial;
  border: none;
}

#inner {
  width: 70%;
  display: flex;
  flex-direction: column;
}
#inner header {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

#directions {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
#directions button {
  color: rgb(134, 134, 134);
}
#directions button:hover {
  color: black;
}

.firstDirection {
  position: relative;
  display: flex;
  align-items: center;
}

.moreDirectionBtn {
  position: absolute;
  bottom: 0;
  right: 2rem;
  padding: 0;
  font-size: 16px;
}

.btnExplainBubble {
  display: none;
}
.btnExplainBubble.on {
  display: block;
  position: absolute;
  bottom: -1.2rem;
  right: 10px;
  width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 12px;
  padding: 5px;
  background-color: #e9e8e8;
}

.moreDirection {
  display: none;
}

.moreDirection.on {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 16px;
  box-sizing: border-box;
  background-color: #f1f1f1;
  border-radius: 10px;
  z-index: 10;
}
.moreDirection.on .moreDirectionCloseBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 16px;
}

#footer {
  margin-top: 2rem;
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #8e9aaf;
}
#footer a:link, #footer a:active, #footer a:visited, #footer a:hover {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: inherit;
}

#resizerByKeypress {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 16px 0;
  padding-left: calc(50% - 100px);
}
#resizerByKeypress .sizeInput {
  display: flex;
  flex-direction: row;
  padding-bottom: 16px;
  align-items: center;
}
#resizerByKeypress .sizeInput label {
  text-align: center;
}
#resizerByKeypress .sizeInput input {
  width: 50px;
  margin: 0 16px;
}
#resizerByKeypress .sizeInput:first-child {
  margin-left: 32px;
}
#resizerByKeypress .sizeInput:nth-child(2) {
  border-bottom: 1px solid black;
}
#resizerByKeypress .sizeInput:nth-child(2) svg {
  margin-right: 16px;
}
#resizerByKeypress .resizerByKeypressBtn {
  margin-top: 8px;
  padding: 12.8px;
  background-color: #e9e8e8;
}

#inner_body {
  box-sizing: border-box;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 30vh;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0px 0px 15px 2px rgba(190, 190, 190, 0.45);
}

#loader {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#loader #loaderActualBtn {
  width: 70%;
  box-shadow: inset 0px 1px 0px 0px #9fb4f2;
  background: linear-gradient(to bottom, #378ec5 5%, #1b7cb8 100%);
  background-color: #378ec5;
  border-radius: 6px;
  border: 1px solid #dae1f7;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 1rem;
  font-weight: bold;
  padding: 6px 24px;
  margin-bottom: 6px;
  text-decoration: none;
  text-align: center;
}
#loader #loaderActualBtn:hover {
  background: linear-gradient(to bottom, #1564c5 5%, #378ec5 100%);
  background-color: #476e9e;
}
#loader #loaderActualBtn:active {
  position: relative;
  top: 1px;
}
#loader .fileType {
  display: none;
}
#loader .fileType.on {
  display: block;
  transition: display 300ms ease;
  font-size: 12px;
  color: grey;
}
#loader input {
  position: absolute;
  top: -1000vh;
}

#load {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#imgLoad {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#imgLoad .resizerBtns {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#imgLoad .resizerBtns button {
  position: absolute;
  border: none;
  z-index: 10;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
#imgLoad .left, #imgLoad .right {
  height: calc(100% - 100px);
  width: 1rem;
  top: 50px;
  cursor: col-resize;
}
#imgLoad .left .resizerPointer, #imgLoad .right .resizerPointer {
  height: 50%;
  width: 10px;
}
#imgLoad .top, #imgLoad .bottom {
  width: calc(100% - 100px);
  height: 1rem;
  left: 50px;
  cursor: row-resize;
}
#imgLoad .top .resizerPointer, #imgLoad .bottom .resizerPointer {
  width: 50%;
  height: 10px;
}
#imgLoad .left {
  left: 0;
}
#imgLoad .right {
  right: 0;
}
#imgLoad .top {
  top: 0;
}
#imgLoad .bottom {
  bottom: 0;
}
#imgLoad .resizerPointer:hover {
  content: " ";
  border: 2px solid rgba(206, 206, 206, 0.612);
  background-color: rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  margin: 0;
}
#imgLoad #image {
  position: relative;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=main.css.map */