$smallTextSize: 12px;
$basicTextSize: 16px;
$grey:  #e9e8e8;

#root{
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  button{
    background-color: initial;
    border: none;
  }
}
#inner{
  width: 70%;
  display: flex;
  flex-direction: column;
  header{
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
}
#directions{
  width: 100%;
  height: fit-content;
  position: relative;
  button{
    color: rgb(134, 134, 134);
    &:hover{
      color:black;
    }
  }
}
.firstDirection{
  position: relative;
  display: flex;
  align-items: center;
}
.moreDirectionBtn {
  position: absolute;
  bottom:0;
  right: 2rem;
  padding: 0;
  font-size: $basicTextSize;
}
.btnExplainBubble{
  display: none;
  &.on{
    display: block;
    position:absolute;
    bottom: -1.2rem;
    right: 10px;
    width: 200px;
    height: fit-content;
    font-size: $smallTextSize;
    padding: 5px;
    background-color:$grey;
  }
}
.moreDirection {
  display: none;
}
.moreDirection.on{
  display: block;
  position: absolute;
  top:100%;
  left: 0;
  width: 100%;
  height: fit-content;
  padding:$basicTextSize;
  box-sizing: border-box;
  background-color: #f1f1f1;
  border-radius: 10px;
  z-index: 10;
  .moreDirectionCloseBtn{
    position: absolute;
    top:$basicTextSize * 0.5;
    right:$basicTextSize * 0.5;
    font-size: $basicTextSize;
  }
}
#footer{
  margin-top: 2rem;
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color:#8e9aaf;
  a:link,a:active, a:visited , a:hover{
    text-decodiagonaln: none;
    color: inherit;
  }
}
#inner_body{
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  min-height: 30vh;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  padding:1rem;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(190,190,190,0.45); 
  box-shadow: 0px 0px 15px 2px rgba(190,190,190,0.45);
}
#loader{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  #loaderActualBtn{
    width: 70%;
    box-shadow:inset 0px 1px 0px 0px #9fb4f2;
    background:linear-gradient(to bottom, #378ec5 5%, #1b7cb8 100%);
    background-color:#378ec5;
    border-radius:6px;
    border:1px solid #dae1f7;
    display:inline-block;
    cursor:pointer;
    color:#fff;
    font-family:Arial;
    font-size:1rem;
    font-weight:bold;
    padding:6px 24px;
    margin-bottom: 6px;
    text-decoration:none;
    text-align: center;
    &:hover {
      background:linear-gradient(to bottom, #1564c5 5%, #378ec5 100%);
      background-color:#476e9e;
    }
    &:active{
      position:relative;
      top:1px;
    }
  }  
  .fileType {
    display: none;
  }
  .fileType.on{
    display: block;
    transition: display 300ms ease;
    font-size: 12px;
    color:grey;
  }
  input{
    position: absolute;
    top:-1000vh;
  }
}
#load{
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box
};
#imgLoad{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .resizerBtns{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    button{
      position: absolute;
      border: none;
      z-index: 10;
      padding:0;
      background-color: rgba(255, 255, 255, 0);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .left , .right{
    height: calc(100% - 100px);
    width: 1rem;
    top: 50px;
    cursor: col-resize;
  }
  .left .resizerPointer , .right .resizerPointer{
    height: 50%;
    width: 10px;
  }
  .top , .bottom{
    width: calc(100% - 100px);
    height: 1rem;
    left:50px;
    cursor: row-resize;
  }
  .top .resizerPointer , .bottom .resizerPointer{
    width: 50%;
    height: 10px;
  }
  .left {
    left:0
  }
  .right{
    right: 0;
  }
  .top{
    top:0;
  }
  .bottom{
    bottom:0
  }
  .resizerPointer:hover{
    content: " ";
    border: 2px solid rgba(206, 206, 206, 0.612);
    background-color: rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    margin: 0;
  }
  #image{
    position: relative;
    width: 100%;
    height: 100%;
  }
}