@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap");
div {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  margin: 0;
  display: flex;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 300ms ease;
}
#root button {
  background-color: initial;
  border: none;
}

#inner {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
#inner header {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

#pageHeader {
  font-size: 32px;
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-weight: 700;
}

#directions {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  font-size: 14px;
}
#directions button {
  color: rgb(134, 134, 134);
}
#directions button:hover {
  color: black;
}

.firstDirection {
  position: relative;
  display: flex;
  align-items: center;
  width: 94%;
  margin: 0 3%;
  margin-bottom: 16px;
  line-height: 16px;
}

.moreDirectionBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
}
.moreDirectionBtn svg {
  font-size: 14px;
}

.btnExplainBubble {
  display: none;
}
.btnExplainBubble.on {
  display: block;
  position: absolute;
  bottom: -1.2rem;
  right: 10px;
  width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 12px;
  padding: 5px;
  background-color: #e9e8e8;
}

.moreDirection {
  display: none;
}

.moreDirection.on {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 24px;
  box-sizing: border-box;
  background-color: #F7F5F2;
  border-radius: 10px;
  z-index: 10;
}
.moreDirection.on .moreDirectionCloseBtn {
  position: absolute;
  top: 16px;
  right: 24px;
  font-size: 16px;
}
.moreDirection.on .moreDirectionInner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.moreDirection.on .moreDirectionInner p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#footer {
  margin: 2rem 5%;
  font-size: 14px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: #8e9aaf;
}
#footer a:link, #footer a:active, #footer a:visited, #footer a:hover {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: inherit;
}
#footer a:hover {
  color: #0a3888;
}

#sizeBord {
  display: flex;
  padding: 16px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#sizeBord header {
  font-size: 16px;
  font-weight: bold;
}

#resizerByKeypress {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 45%;
  height: 100%;
  margin-right: 5%;
  font-size: 16px;
}
#resizerByKeypress .sizeInput {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding-bottom: 16px;
  align-items: center;
}
#resizerByKeypress .sizeInput label {
  text-align: center;
}
#resizerByKeypress .sizeInput input {
  width: 80px;
  margin: 0 16px;
}
#resizerByKeypress .sizeInput:nth-child(2) {
  margin-left: 32px;
}
#resizerByKeypress .sizeInput:nth-child(3) {
  border-bottom: 1px solid black;
}
#resizerByKeypress .sizeInput:nth-child(3) svg {
  margin-right: 16px;
}
#resizerByKeypress .resizerByKeypressBtn {
  width: 70%;
  margin-top: 8px;
  padding: 12.8px;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgb(251, 251, 251) 5%, #e9e8e8 100%);
  border: 1px solid rgba(230, 230, 230, 0.45);
  cursor: pointer;
}
#resizerByKeypress .resizerByKeypressBtn:hover {
  background: linear-gradient(to bottom, rgba(230, 230, 230, 0.45) 5%, rgb(251, 251, 251) 100%);
  background-color: #e9e8e8;
  box-shadow: 0px 0px 1px 1px rgba(190, 190, 190, 0.45);
}

#sizeDirection {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #F7F5F2;
  padding: 10px;
  box-sizing: border-box;
}
#sizeDirection .sizes {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#sizeDirection .sizes header {
  text-align: left;
  margin-bottom: 5px;
}

#maxSize, #minSize, #imgSize {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: rgb(119, 117, 117);
  margin-bottom: 10px;
}
#maxSize header, #minSize header, #imgSize header {
  font-size: 14px;
  font-weight: 600;
}
#maxSize .size, #minSize .size, #imgSize .size {
  display: flex;
  flex-direction: row;
  width: 90%;
  font-size: 14.4px;
}
#maxSize .size > div, #minSize .size > div, #imgSize .size > div {
  width: 50%;
}
#maxSize .size > div:last-child, #minSize .size > div:last-child, #imgSize .size > div:last-child {
  text-align: right;
}

#canvas {
  margin-top: 16px;
  box-sizing: border-box;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0px 0px 15px 2px rgba(190, 190, 190, 0.45);
}

#canvas_top {
  position: relative;
  width: 100%;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
  font-size: 16px;
}

#downloader {
  position: absolute;
  top: 0;
  right: 16px;
  font-size: inherit;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#downloader .downloadBtn {
  width: 100%;
  height: 100%;
  font-size: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(119, 117, 117);
}
#downloader .downloadBtn:hover {
  color: black;
}
#downloader svg {
  margin-left: 3.2px;
  font-size: 17.6px;
}
#downloader a {
  display: none;
}

#loader {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}
#loader #loaderActualBtn {
  width: 100%;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 0px 0px #9fb4f2;
  background: linear-gradient(to bottom, #378ec5 5%, #1b7cb8 100%);
  background-color: #378ec5;
  border-radius: 6px;
  border: 1px solid #dae1f7;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: inherit;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-align: center;
}
#loader #loaderActualBtn:hover {
  background: linear-gradient(to bottom, #1564c5 5%, #378ec5 100%);
  background-color: #476e9e;
}
#loader #loaderActualBtn:active {
  position: relative;
  top: 1px;
}
#loader .fileType {
  display: none;
}
#loader .fileType.on {
  display: block;
  transition: display 300ms ease;
  font-size: 12px;
  color: grey;
}
#loader input {
  position: absolute;
  top: -1000vh;
}

#load {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#imgLoad {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#imgLoad .resizerBtns {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#imgLoad .resizerBtns button {
  position: absolute;
  border: none;
  z-index: 10;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
#imgLoad .left, #imgLoad .right {
  height: calc(100% - 2rem);
  width: 1rem;
  top: 1rem;
  cursor: col-resize;
}
#imgLoad .left .resizerPointer, #imgLoad .right .resizerPointer {
  height: 100%;
  width: 1rem;
}
#imgLoad .top, #imgLoad .bottom {
  width: calc(100% - 2rem);
  height: 1rem;
  left: 1rem;
  cursor: row-resize;
}
#imgLoad .top .resizerPointer, #imgLoad .bottom .resizerPointer {
  width: 100%;
  height: 1rem;
}
#imgLoad .left {
  left: 0;
}
#imgLoad .right {
  right: 0;
}
#imgLoad .top {
  top: 0;
}
#imgLoad .bottom {
  bottom: 0;
}
#imgLoad .resizerPointer:hover {
  content: " ";
  border: 2px solid rgba(206, 206, 206, 0.612);
  background-color: rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  margin: 0;
}
#imgLoad #image {
  position: relative;
  width: 100%;
  height: 100%;
}

#downloadCanvas {
  display: none;
}

#notification {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.425);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}
#notification .inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 150px;
  background-color: white;
  border-radius: 10px;
  padding: 32px;
  box-sizing: border-box;
}
#notification .inner header {
  font-size: 17.6px;
  font-weight: bold;
  margin-bottom: 16px;
}
#notification .inner .closeNotificationBtn {
  position: absolute;
  font-size: 19.2px;
  top: 17.6px;
  right: 17.6px;
}
#notification .inner .closeNotificationBtn:hover svg {
  border-radius: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #2583be;
  color: white;
  font-weight: bolder;
}

@media screen and (min-width: 500px) and (max-width: 600px) {
  #sizeDirection {
    padding: 16px;
  }
}
@media screen and (max-width: 600px) {
  #sizeBord {
    flex-direction: column;
    align-items: center;
  }
  #resizerByKeypress, #sizeDirection {
    width: 90%;
  }
  #resizerByKeypress header, #sizeDirection header {
    margin-bottom: 12px;
  }
  #resizerByKeypress {
    margin-right: 0;
    margin-bottom: 12px;
    font-size: 14px;
  }
  #canvas_top {
    flex-direction: column;
    font-size: 14px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #loader .fileType.on {
    background-color: white;
  }
  #downloader {
    position: relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    top: initial;
    right: initial;
    margin-top: 7px;
  }
  #footer {
    font-size: 12px;
  }
}
@media screen and (max-width: 728px) {
  #resizerByKeypress .sizeInput:nth-child(2) {
    margin-left: 16px;
  }
  #resizerByKeypress .sizeInput:nth-child(3) svg {
    margin-right: 2px;
  }
  #resizerByKeypress .resizerByKeypressBtn {
    padding: 6px;
  }
}
@media screen and (min-width: 600px) {
  #sizeBord {
    height: 220px;
  }
  #maxSize .size, #minSize .size, #imgSize .size {
    width: 99%;
  }
  #maxSize .size > div:last-child, #minSize .size > div:last-child, #imgSize .size > div:last-child {
    text-align: left;
  }
}
@media screen and (min-width: 728px) {
  #directions {
    font-size: 16px;
  }
  .firstDirection {
    line-height: 19.2px;
  }
  .moreDirectionBtn {
    width: 19.2px;
    height: 19.2px;
    right: 16px;
  }
  .moreDirectionBtn svg {
    font-size: 19.2px;
  }
}
@media screen and (min-width: 1024px) {
  #inner {
    width: 800px;
    margin-top: 5vh;
  }
  #directions, #sizeBord header {
    font-size: 18px;
  }
  #sizeBord {
    height: 250px;
  }
  #resizerByKeypress {
    margin-right: 16px;
  }
  .resizerByKeypressBtn {
    font-size: 18px;
  }
  #sizeDirection {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    align-items: center;
    padding: 16px 40px;
  }
  #sizeDirection .sizes .size > div:last-child {
    text-align: right;
  }
  #maxSize header, #minSize header, #imgSize header {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */