$smallTextSize: 12px;
$basicTextSize: 16px;
$grey:  #e9e8e8;
$darkgrey: rgb(119, 117, 117);
$lightgrey:#F7F5F2;
#root{
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  
  button{
    background-color: initial;
    border: none;
  }
}
#inner{
  width: 80%;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  header{
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
}
#directions{
  width: 100%;
  height: fit-content;
  position: relative;
  button{
    color: rgb(134, 134, 134);
    &:hover{
      color:black;
    }
  }
}
.firstDirection{
  position: relative;
  display: flex;
  align-items: center;
}
.moreDirectionBtn {
  position: absolute;
  bottom:0;
  right: 2rem;
  padding: 0;
  font-size: $basicTextSize;
}
.btnExplainBubble{
  display: none;
  &.on{
    display: block;
    position:absolute;
    bottom: -1.2rem;
    right: 10px;
    width: 200px;
    height: fit-content;
    font-size: $smallTextSize;
    padding: 5px;
    background-color:$grey;
  }
}
.moreDirection {
  display: none;
}
.moreDirection.on{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:100%;
  left: 0;
  width: 100%;
  height: fit-content;
  padding:$basicTextSize * 1.5;
  box-sizing: border-box;
  background-color: $lightgrey;
  border-radius: 10px;
  z-index: 10;
  .moreDirectionCloseBtn{
    position: absolute;
    top:$basicTextSize * 1.5 ;
    right:$basicTextSize * 1.5 ;
    font-size: $basicTextSize;
  }
  .moreDirectionInner{
    width: fit-content;
    p{
      width: fit-content;
    }
  }
}
#footer{
  margin-top: 2rem;
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color:#8e9aaf;
  a:link,a:active, a:visited , a:hover{
    text-decoration-line: none;
    color: inherit;
  }
}
#sizeBord{
  display: flex;
  padding: $basicTextSize 0;
  height: fit-content;
  header {
    font-size: $basicTextSize;
    font-weight: bold;
  }
}
#resizerByKeypress{
  display: flex;
  flex-direction: column; 
  justify-content: space-evenly;
  width: 40%;
  height: 100%;
  margin-right: 5%;
  .sizeInput{
    display: flex;
    flex-direction: row;
    padding-bottom: $basicTextSize;
    align-items: center;
    label{
      text-align: center;
    }
    input{
      width: 80px;
      margin: 0 $basicTextSize;
    }
  }
  .sizeInput:nth-child(2){
    margin-left: $basicTextSize *2 ;

  }
  .sizeInput:nth-child(3){
    svg {
      margin-right:  $basicTextSize;
    }
    border-bottom: 1px solid black;
  }
  .resizerByKeypressBtn{
    margin-top: $basicTextSize * 0.5;
    padding: $basicTextSize * 0.8;
    border-radius: 10px;
    background:linear-gradient(to bottom, rgb(251, 251, 251) 5%, $grey 100%);
    border: 1px solid rgba(230, 230, 230, 0.45);
    &:hover{
      background:linear-gradient(to bottom, rgba(230, 230, 230, 0.45) 5%,  rgb(251, 251, 251) 100%  );
      background-color:$grey;
      -webkit-box-shadow: 0px 0px 1px 1px rgba(190,190,190,0.45); 
      box-shadow: 0px 0px 1px 1px rgba(190,190,190,0.45);
    }
  }
}
#sizeDirection {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color:$lightgrey;
  padding: 10px;
  box-sizing: border-box;
  .sizes{
    width: 100%;
    display: flex;
    flex-direction: column;
    #maxSize , #minSize , #imgSize{
      display: flex;
      flex-direction: column;
      width: 100%;
      color: $darkgrey;
      margin-bottom: 10px;
      header{
        font-size: $basicTextSize;
        font-weight: 600;
      }
      .size{
        display: flex;
        flex-direction: row;
        width: 100%;
        font-size: $smallTextSize;
        & > div{
          width: 50%;
        }
      }
    }
    header{
      text-align: left;
      margin-bottom: 5px;
    }
  }
}
#canvas{
  margin-top: $basicTextSize;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding:1rem;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(190,190,190,0.45); 
  box-shadow: 0px 0px 15px 2px rgba(190,190,190,0.45);
}
#loader{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  #loaderActualBtn{
    width: 70%;
    box-shadow:inset 0px 1px 0px 0px #9fb4f2;
    background:linear-gradient(to bottom, #378ec5 5%, #1b7cb8 100%);
    background-color:#378ec5;
    border-radius:6px;
    border:1px solid #dae1f7;
    display:inline-block;
    cursor:pointer;
    color:#fff;
    font-family:Arial;
    font-size:1rem;
    font-weight:bold;
    padding:6px 24px;
    margin-bottom: 6px;
    text-decoration:none;
    text-align: center;
    &:hover {
      background:linear-gradient(to bottom, #1564c5 5%, #378ec5 100%);
      background-color:#476e9e;
    }
    &:active{
      position:relative;
      top:1px;
    }
  }  
  .fileType {
    display: none;
  }
  .fileType.on{
    display: block;
    transition: display 300ms ease;
    font-size: $smallTextSize;
    color:grey;
  }
  input{
    position: absolute;
    top:-1000vh;
  }
}
#load{
  width: 100%;
  height: fit-content;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box
};
#imgLoad{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .resizerBtns{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    button{
      position: absolute;
      border: none;
      z-index: 10;
      padding:0;
      background-color: rgba(255, 255, 255, 0);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .left , .right{
    height: calc(100% - 2rem);
    width: 1rem;
    top: 1rem;
    cursor: col-resize;
  }
  .left .resizerPointer , .right .resizerPointer{
    height: 100%;
    width: 1rem;
  }
  .top , .bottom{
    width: calc(100% - 2rem);
    height: 1rem;
    left:1rem;
    cursor: row-resize;
  }
  .top .resizerPointer , .bottom .resizerPointer{
    width: 100%;
    height: 1rem;
  }
  .left {
    left:0
  }
  .right{
    right: 0;
  }
  .top{
    top:0;
  }
  .bottom{
    bottom:0
  }
  .resizerPointer:hover{
    content: " ";
    border: 2px solid rgba(206, 206, 206, 0.612);
    background-color: rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    margin: 0;
  }
  #image{
    position: relative;
    width: 100%;
    height: 100%;
  }
}
#notification{
  position:absolute;
  top: 0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.425);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  .inner{ 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 150px;
    background-color: #ffff;
    border-radius: 10px;
    padding:$basicTextSize *2;
    box-sizing: border-box;
    header{
      font-size: $basicTextSize * 1.1;
      font-weight: bold;
      margin-bottom: $basicTextSize;
    }
    .closeNotificationBtn{
      position:absolute;
      font-size: $basicTextSize * 1.2;
      top: $basicTextSize * 1.1;
      right: $basicTextSize * 1.1;
      &:hover{
        svg {
          border-radius: 50% ;
          width: fit-content;
          height: fit-content;
          background-color: #2583be;
          color:#ffff;
          font-weight: bolder
        }
      }
    }
  };
}